Django==1.3
Fabric==1.1.1
Jinja2==2.5.5
PIL==1.1.7
South==0.7.3
Werkzeug==0.8.1
aino-jstools==0.1.0.6
anyjson==0.3.1
boto==2.0
distribute==0.6.27
django-boto==0.1.6b
django-picklefield==0.1.9
django-registration==0.8
django-shrink==0.0.3.2
django-socialauth==0.1.2c
django-storages==1.1.3
jsmin==2.0.2
mimeparse==0.1.3
oauth==1.0.1
oauthlib==0.1.3
ordereddict==1.1
paramiko==1.7.7.1
psycopg2==2.4.2
pyScss==1.0.6
pycrypto==2.3
python-dateutil==1.5
python-memcached==1.48
rsa==3.1.1
simplejson==2.1.6
virtualenv==1.7.1.2
wsgiref==0.1.2
-e git+https://github.com/dev360/django-tastypie.git#egg=tastypie
