{% extends "base_main.html" %}
{% load i18n %}

{% block bodyclass %}password-reset{% endblock %}

{% block primary %}
    <h2>{% trans "Reset password" %}</h2>
    <div class="form width-m top-aligned">
		<p>{% trans "Enter your email below so we can email you instructions on how to reset your password." %}</p>
		<form action="" method="post" class="form-horizontal">
      {% csrf_token %}
      <fieldset>
        {% for field in form %}
          {% include "forms/field.html" %}
        {% endfor %}
			  <div class="form-actions">
          <input class=" btn btn-primary" type="submit" value="{% trans "Reset password" %}" />
			  </div>
      </fieldset>
	    </form>
	</div>
{% endblock %}
