{% extends "base.html" %}
{% load i18n %}

{% block bodyclass %}password-reset{% endblock %}

{% block primary %}
    <h1>{% trans "Reset password" %}</h1>
    <div class="form width-m top-aligned">
		<p>{% trans "Did you forget your password? Enter your password below so we can send you instructions on how to reset your password." %}</p>
		<form action="" method="post">
	        {{ form.email.errors }}
	        {% csrf_token %}
			<div class="form-row">
	        	<label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }}
			</div>
			<div class="actions">
				<span class="primary btn ()"><input type="submit" name="login_submit" value="{% trans 'Reset my password' %}"></span>
			</div>
	    </form>
	</div>
{% endblock %}
