{% load i18n %}{% autoescape off %}
{% trans "You received this email because you requested to change your password" %}
{% blocktrans %}for your user account at http://www.blankslate.com/{% endblocktrans %}.

{% trans "Please go to the link below and change your password:" %}
{% block reset_link %}
http://www.blankslate.com{% url django.contrib.auth.views.password_reset_confirm uidb36=uid token=token %}
{% endblock %}

{% trans "Thank you for visiting our site!" %}

{% blocktrans %}
Best regards

Blankslate
{% endblocktrans %}

{% endautoescape %}
