{% extends "base_3-9.html" %}
{% load i18n utils %}

{% block primary %}
  <div class="section profile edit">
    <h1>Manage Profile</h1>
    <br />
    <ul class="nav nav-tabs">
      <li class="active"><a href="{% url profile-edit %}">{% trans "Profile" %}</a></li>
      {% if profile.status == 'REG' %}
        <li><a href="{% url profile-contact-edit %}">{% trans "Contact" %}</a></li>
      {% else %}
        <li class="disabled"><a href="#">{% trans "Contact" %}</a></li>
      {% endif %}
    </ul>

    <div id="account-form">
    </div>

    <div>
      <form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form" class="form-inline">{% csrf_token %}{% block form_top %}{% endblock %}
        {% csrf_token %}

      {% if saved %}
        <div class="alert alert-success">
          {% trans "Your changes have been saved." %}
        </div>
      {% endif %}

      {% if form.errors %}
        <div class="alert alert-error">
          {% blocktrans count form.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below:{% endblocktrans %} 
          {{ form.non_field_errors }}
        </div>
      {% else %}
       {% if profile.status == 'NEW' %}
        <div class="alert alert-warning">
          <strong>{% trans "Please note:" %}</strong> {% trans "Some functionality on the site may be restricted until you complete your profile below" %}
        </div>
       {% endif %}
      {% endif %}
        <div class="profile-image pull-left">
          <div class="thumbnail">
           {% if profile.image %}
             <img src="{{ profile.image.url }}" alt="">
           {% else %}
            <img src="http://placehold.it/175x175" alt="">
            {% endif %}
            <div class="caption">
              <h5>Profile image</h5>
              <p>Upload a profile image of yourself so other users of the site can recognize you.</p>

              {% if profile.image %}
              <div class="btn-group ">
                <a class="btn btn-primary" href="#"><i class="icon-picture icon-white"></i> Image</a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                  <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                </ul>
              </div>
              {% else %}
                {{ form|formfields:"image" }}
              {% endif %}
            </div>
          </div>
        </div>
        <fieldset>
          <div class="form-row names">
            {{ form|formfields:"first_name,middle_name,last_name" }}
          </div>
          <hr />
          <div class="form-row">
            {{ form|formfields:"job_title" }}
          </div>   
          <div class="form-row">
            {{ form|formfields:"company" }}
          </div>
          <div class="form-actions">
            <input class=" btn btn-primary" type="submit" value="{% trans "Save" %}" />
          </div>
        </fieldset>
        </form>
    </div>
  </div>
{% endblock %}

{% block menu %}
  {% include "core/includes/user_menu.html" %}
{% endblock %}
